html {
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

video{
    width:100%;
    height:100%;
    object-fit:cover;
}

iframe{
    width:100%;
    height:100%;
    object-fit:cover;
}

.main-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.flickity-viewport,
.flickity-slider,
.carousel-cell {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.carousel-cell {
    position: relative;
}

.image-inner,
.video-inner,
.iframe-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landscape-90,
.portrait-90 {
    transform: rotate(90deg)  translate(-100vw, 0);
    transform-origin: bottom left;
    width: 100vh;
    height: 100vw;
}

.landscape-180,
.portrait-180 {
    transform: rotate(180deg);
}

.landscape-270,
.portrait-270 {
    transform: rotate(270deg)  translate(0, -100vh);
    transform-origin: top right;
    width: 100vh;
    height: 100vw;
}