html {
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

video{
    width:100%;
    height:100%;
    object-fit:cover;
}

iframe{
    width:100%;
    height:100%;
    object-fit:cover;
}

.main-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.carousel-cell {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.ad {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.rotate-90 {
    transform: translate(420px, -420px) rotate(90deg);
    transform-origin: center 

}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: translate(-540px, 540px) rotate(270deg);
    transform-origin: top 
}

video.rotate-90,
iframe.rotate-90,
video.rotate-270,
iframe.rotate-270,
.ad.rotate-90,
.ad.rotate-270  {
    width: 1080px;
    height: 1920px;
    object-fit: cover;
}
